body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Garamond, serif;
  }
.content-list h1{
    text-align: start;
    margin-left: 4%;
    margin-top: 4%;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0;
    /* color: #8a1f2f; */
    color: #820d1f;
}
/* h2{
    text-align: start;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1%;
} */
.content-list h3 {
    text-align: start;
    margin: 0;
    margin-left: 4%;
    font-weight: 400;
    margin-bottom: 1%;
    /* color: #8a1f2f; */
    color: #820d1f;
}
.container{
    display: grid;
    gap: 0;    
    grid-template-areas: "head head head head head head head head head head head head"
                         "nav nav nav nav nav nav nav nav nav nav nav nav"
                         "cont cont cont cont cont cont cont cont cont cont cont men";
    padding: 0%;
    margin: 0%;
}
.container > div {
    padding: 0;
}
.header {
    grid-area: head;
    padding: 80px;
    margin: 0;
    text-align: center; /* center the text */
    color: white;
    /* background-color: #8a1f2f; */
    background-image: url("img/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
.header h1{
    padding-top: 100px;
    font-size: 50px;
    margin: 0 ;
}
.header p{
    padding-bottom: 100px;
    padding-top: 0;
    font-size: 20px;
    font-weight: 600;
}
.navbar{
    grid-area: nav;
    background-color: #000000;
    padding-left: 26px;
    overflow: hidden;
}
.navbar a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.right {
    float: right;
    font-weight: 600;

}
.content-list {
    grid-area: cont;
    display: flex;
    flex-direction: column;
    background-color: #e3e1e1;
    text-align: start;
    font-weight: 400;
}
.content1 {
    padding-left: 4%;
    padding-right: 4%;
    font-size: 20px;
    margin-bottom: 3%;
}
.content2 {
    padding-left: 9%;
    padding-right: 4%;
    font-size: 20px;
    margin-bottom: 2%;
}
.content3{
    padding-left: 9%;
    padding-right: 4%;
    font-size: 20px;
    margin-bottom: 2%;
}
.menu-list{
    display:flex ;
    grid-area: men;
    background-color: #c3c0c0/*#a06d6e*/;
    flex-wrap: wrap;
    align-content: space-around;
}
/* .img-list{
    padding-left: 8%;
} */
img{   
     margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: fill;
    max-width: 75%; 
    height: auto;
    border-radius: 50%;
}
.progress-list {
    display: flex;
    gap: 1%;
    flex-direction: column;
    width: 100%;
    padding: 0 15%;
    padding-bottom: 8%;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10%;
}
.progress-list p {
    text-transform: uppercase;
}
/* .progress{
    height: 7%;
    background-color: #e3e1e1; 
    border-radius: 3%;
} */
progress {
    border-radius: 7px; 
    width: 100%;
    height: 12px;
    /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  }
  progress::-webkit-progress-bar {
    background-color: #e3e1e1;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #981327;/*#e39263*/
    border-radius: 7px;
    /* box-shadow: 1px 1px 3px 3px rgba(129, 0, 0, 0.8); */
  }
.social-list {
    display: flex;
    gap: 1%;
    list-style: none;
    margin-top: auto;
    justify-content: space-between;
}
    
 .social-list-item img {
    width: 40%;
    height: auto;
    border-radius: 10%;
}

.personal-info {
    list-style: none;
    padding-left: 12%;
}

.info {
    text-align: start;
    padding: 1%;
    padding-bottom: 4%;
    font-size: 15px;
}
.logo-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0%;
    list-style: none;
    text-align: start;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1%;
} 
.logo-list img {
    padding-left: 4%;
    margin:0;
    max-width: 4%;
    height: auto;
    border-radius: 2%;
}
.logo-list1{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0%;
    list-style: none;
    text-align: start;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 1%;
} 
.logo-list1 img {
    padding-left: 4%;
    margin:0;
    max-width: 4%;
    height: auto;
    border-radius: 2%;
}
.logo-text {
    padding-left: 1%;
    /* color: #8a1f2f; */
    color: #820d1f;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
   background-image: url("img/fon.jpg");
   /* background: url("img/fon.jpg") rgba(0, 0, 0, 0.2);
   background-blend-mode: multiply; */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed; 
}
.container2{
    display: grid;
    grid-template-areas: "head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1"
                         "nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1 nav1"
                         "mai mai mai mai mai mai mai mai mai mai mai mai";
    gap: 0;
}
.container2 > div {
    padding: 0;
}
.header2 {
    grid-area: head1;
    padding: 80px;
    margin: 0;
    text-align: center;
    color: white;
}
.header2 h1{
    padding-top: 100px;
    font-size: 50px;
    margin: 0 ;
}
.header2 p{
    padding-bottom: 100px;
    padding-top: 0;
    font-size: 20px;
    font-weight: 600;
}
.navbar2{
    grid-area: nav1;
    background-color: #000000;
    padding-left: 26px;
    overflow: hidden;
}
.navbar2 a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar2 a:hover {
    background-color: #ddd;
    color: black;
}
.navbar2 a.right {
    float: right;
    font-weight: 600;
}
.main-list{
    grid-area: mai;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 10px;
    margin: 1%;
}
.main-item{
    background-color:rgba(255, 255, 255, 0.705);
    border-radius: 5%; 
}
.img1 {
    margin:auto;
    grid-column: 2;
    grid-row: 1 / span 2;
}
.center{
    text-align:center;
}
.img1 img {
    margin:auto;
    width: 75%; 
    height: 60%;
    border-radius: 50%;
}
.hob {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #820d1f;
    background: #e3e1e1;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

/* .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ff0000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e3e1e1;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */
.edu {
    grid-column: 1;
    grid-row: 1;
}
.edu h1  {
    text-align: center;
}
.edu-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.edu-list li{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
.progress-list2 p {
    text-transform: uppercase;
    font-weight: 600;
}
.progress-list2{
    grid-column: 3;
    grid-row: 1;
    padding: 20px 40px 20px 40px;
}
.skill-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills progress {
    border-radius: 7px; 
    width: 100%;
    height: 12px;
    /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  }
.skills progress::-webkit-progress-bar {
    background-color: #e3e1e1;
    border-radius: 7px;
  }
.skills progress::-webkit-progress-value {
    background-color: #981327;/*#e39263*/
    border-radius: 7px;
    /* box-shadow: 1px 1px 3px 3px rgba(129, 0, 0, 0.8); */
  }
.lan p {
    text-transform: uppercase;
    font-weight: 600;
}
.lan{
    grid-column: 1;
    grid-row: 2;
    padding: 20px 40px 20px 40px;
}
.skill-list2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills2 progress {
    border-radius: 7px; 
    width: 100%;
    height: 12px;
    /* box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 ); */
  }
  .skills2 progress::-webkit-progress-bar {
    background-color: #e3e1e1;
    border-radius: 7px;
  }
  .skills2 progress::-webkit-progress-value {
    background-color: #981327;/*#e39263*/
    border-radius: 7px;
    /* box-shadow: 1px 1px 3px 3px rgba(129, 0, 0, 0.8); */
  }

body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
   background-image: url("img/fon.jpg");
   /* background: url("img/fon.jpg") rgba(0, 0, 0, 0.2);
   background-blend-mode: multiply; */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed; 
}
.container3{
    display: grid;
    grid-template-areas: "head2 head2 head2 head2 head2 head2 head2 head2 head2 head2 head2 head2"
                         "nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2 nav2"
                         "mai2 mai2 mai2 mai2 mai2 mai2 mai2 mai2 mai2 mai2 mai2 mai2";
    gap: 0;
}
.container3 > div {
    padding: 0;
}
.header3 {
    grid-area: head2;
    padding: 80px;
    margin: 0;
    text-align: center;
    color: white;
}
.header3 h1{
    padding-top: 100px;
    font-size: 50px;
    margin: 0 ;
}
.header3 p{
    padding-bottom: 100px;
    padding-top: 0;
    font-size: 20px;
    font-weight: 600;
}
.navbar3{
    grid-area: nav2;
    background-color: #000000;
    padding-left: 26px;
    overflow: hidden;
}
.navbar3 a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar3 a:hover {
    background-color: #ddd;
    color: black;
}
.navbar3 a.right {
    float: right;
    font-weight: 600;
}
/* .main-list2 {
    grid-area: mai2;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 1%;
    background-color:rgba(255, 255, 255, 0.705);
} */
.list {
    background-color:rgba(255, 255, 255, 0.705);
    border-radius: 1%;
    margin: 1%;
}
.img-list2 {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-flow: dense;
    gap: 5px;
    margin:0;
    padding:20px;
    list-style: none;
}
.ph {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.ph:hover {
    transform: scale(1.1);
  }
.ph:nth-child(3n) {
    grid-row: span 2;
    grid-column: span 2;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
   background-image: url("img/fon.jpg");
   /* background: url("img/fon.jpg") rgba(0, 0, 0, 0.2);
   background-blend-mode: multiply; */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed; 
}
.cont4{
    display: grid;
    grid-template-areas: "head3 head3 head3 head3 head3 head3 head3 head3 head3 head3 head3 head3"
                         "nav3 nav3 nav3 nav3 nav3 nav3 nav3 nav3 nav3 nav3 nav3 nav3"
                         "mai3 mai3 mai3 mai3 mai3 mai3 mai3 mai3 mai3 mai3 mai3 mai3";
    gap: 0;
}
.cont4 > div {
    padding: 0;
}
.header4 {
    grid-area: head3;
    padding: 80px;
    margin: 0;
    text-align: center;
    color: white;
}
.header4 h1{
    padding-top: 100px;
    font-size: 50px;
    margin: 0 ;
}

.header4 p{
    padding-bottom: 100px;
    padding-top: 0;
    font-size: 20px;
    font-weight: 600;
}

.navbar4{
    grid-area: nav3;
    background-color: #000000;
    padding-left: 26px;
    overflow: hidden;
}
.navbar4 a {
    font-size: 20px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar4 a:hover {
    background-color: #ddd;
    color: black;
}
.navbar4 a.right {
    float: right;
    font-weight: 600;
}
.main4{
    grid-area: mai3;
    display: grid;
    gap: 10px;
    margin: 1%; 
    background-color:rgba(255, 255, 255, 0.705);
    border-radius: 1%;  
}

.main4 h1{
    text-align: start;
    margin-left: 4%;
    margin-top: 4%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0; 
    color: #820d1f;
}
.container {
    background-color: rgba(231, 104, 7, 0.705);  
}
.block{
    width: 200px; 
    height: 200px; 
    background-color: rgb(244, 13, 51); 
    margin: 20px auto;
}
.c-img {
    width: 200px;  
    margin: 20px auto;
    display: block;
}
.container-2 {
    background-color: rgb(231, 104, 7, 0.705); 
    height: 300px;  
    position: relative;
}
.block-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: 200px; 
    background-color: rgb(110, 17, 107);
}
.container-3{
    background-color: lightyellow; 
    display: flex; 
    flex-wrap: wrap; 
    padding: 10px;
    justify-content: flex-start;
    border: 2px solid #333;
}
.block-3{
    width: 200px; 
    height: 200px; 
    background-color: rgb(193, 165, 219);
    margin: 10px;
}
.position{
    position: relative; 
    height: 300px; 
    background-color: rgb(255, 255, 255);
}
.i1 {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    background-color: red; 
    width: 100px; 
    height: 100px;
}
.i2{
    position: absolute; 
    left: 90px; 
    top: 90px; 
    background-color: rgb(0, 255, 64); 
    width: 100px; 
    height: 100px;
}
.i3{
    position: absolute; 
    left: 160px; 
    top: 160px; 
    background-color: blue; 
    width: 100px; 
    height: 100px;
}
.photo img{
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 100px; 
    height: 100px; 
    margin: 0;
}